

body{
 font-size: 15px;
 line-height: 1.5;
 font-family: "Roboto" , "Arial" , sans-serif;
 letter-spacing: .5;
}
*:focus
{
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
}
/*  site */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}
.logo-link
{
  transition: opacity .4s ease;
}
.logo-link:hover
{
  opacity: .8;
}
.logo-link:active
{
  opacity: 0.6;
}
.site-header-actions
{
  display: flex;
  align-items: center;
}
.sitenav-list
{
  display: flex;
  padding: none;
}
.sitenav-links {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  transition: color .4s ease , opacity .4s ease;
}
.sitenav-links:hover
{
  color: #FF7500;
}
.sitenav-links:active
{
  opacity: 0.6;
}
.main-link {
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color:#FF7500;
  color:#fff;
  text-decoration: none;
  transition: opacity .4s ease;
}
.main-link:hover
{
  opacity: 0.8;
}
.main-link:active
{
  opacity: 0.6;
}



.hero
{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color:#252420;
  color: #fff;
}
.hero-content
{
  width: 390px;
}
.orange-line
{
  width: 80px;
  height: 3px;
  background-color:#FF7500;
  border: none;
}
.hero-heading
{
  font-size: 40px;
  line-height:1.2;
  font-family: 'Roboto Condensed',"Roboto" "Arial" ,sans-serif;
}

.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

/*  */
.features
{
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature-heading
{
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed',"Roboto", "Arial" ,sans-serif;
}
.feature-list
{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.feature
{
  width: 340px;
}
.feature-icon-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title
{
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Roboto Condensed',"Roboto" "Arial" ,sans-serif;
}
/*  */
.promo
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 120px 0 160px 0; */
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}
.promo-content
{
  width: 440px;
}
.promo-heading
{
  font-size: 40px;
  line-height: 48px;
  font-family: 'Roboto Condensed',"Roboto" "Arial" ,sans-serif;
}

.promo-highlight{
  color: #FF7500;
}
.promo-img
{
  width: 440px;
  height:440px ;
  object-fit:cover ;
  border-style: 12px;
}
.site-footer
{
  padding: 56px 0 56px 0;
  background-color:  #f8f8f8;
}
.site-footer ul
{
  padding: 0;
}
.site-footer-top
{
  display: flex;
  align-items: center;
 justify-content: space-between;
}
.site-footer-socials
{
  display: flex;
  align-items: center;
  padding: 0;
}
.site-footer-socials a{
    color:  #252420;
    transition: color .4 ease;
}
.site-footer-socials a:hover
{
  color:#FF7500;
}
.site-footer-socials a:active
{
  opacity: 0.6;
}
.site-footer-divider
{
  border:0;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
.siter-footer-bottom
{
  display: flex;

}
.site-footer-links
{
 width: 224px;
 line-height: 19px;
}
.site-footer-links a
{
  color:#252420;
  transition: color .4s ease , opacity .4 ease;
}
.site-footer-links a:hover{
  color: #FF7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}
